.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-top: 10px;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db; /* Change to your desired background color */
  }
  
  .login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
  }
  
  .login-header {
    background-color: #2980b9; /* Change to your desired header background color */
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .login-form {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    background-color: #2980b9; /* Change to your desired button background color */
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  @media (max-width: 768px) {
    .login-container {
      max-width: none; /* Remove max-width to make it fill the whole width */
      height: 100vh; /* Fill the entire height of the viewport */
    }
  }
  